h1,
p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul.cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
ul.cards li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;
  height: 150px;
  max-width: 150px;
}
ul.cards li:hover span {
  opacity: 1;
}
ul.cards li span {
  text-align: center;
  opacity: 0;
  transition: all 320ms ease-in-out;
}
